.Colorbox {
  width: 20%;
  height: 24vh;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: -4.5px;
}

.copy-btn {
  /* display: none; */
  opacity: 0;
  transition: 0.2s all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  padding: 0.8rem 2.4rem;
  border-radius: 2px;
}

.copy-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform: scale(0.5);
}

.copy-overlay.show {
  opacity: 1;
  position: absolute;
  z-index: 10;
  overflow: hidden;

  transform: scale(20);
}
.Colorbox:hover .copy-btn {
  opacity: 1;
  cursor: pointer;
}

.box-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.box-more {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.4);
  padding: 0.2rem;
  color: white;
  text-transform: uppercase;
}

.copy-msg {
  position: fixed;
  left: 0;
  top: 30%;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.01);
  color: white;
  transition: transform 0.8s ease-in-out;
}

.copy-msg.show {
  transform: scale(1);

  overflow: hidden;
  opacity: 1;
  z-index: 25;
  font-size: 4rem;
}

.copy-msg h1 {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  text-align: center;
}

.copy-msg span {
  font-weight: 100;
  text-transform: uppercase;
}
