.Navbar {
  height: 6vh;
  display: flex;
  width: 100%;
  font-family: "Roboto", sans-serif;
  align-items: center;
}
.logo {
  width: 10%;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  background: rgb(230, 223, 223);
}
.slider {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.slider-level {
  width: 40%;
}
.logo a {
  color: black;
  text-decoration: none;
}
.select-container {
  margin-left: auto;
  margin-right: 4rem;
}
.rc-slider-track {
  background: transparent;
}

.rc-slider-rail {
  height: 5px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
  background: green;
  outline: none;
  border: 2px solid darkgreen;
  width: 12px;
  height: 12px;
}
